.thumbnail {
    width: 100px;
    margin: 5px;
    cursor: pointer;
  }
  .thumb-btn {
    background: none;
    border: none;
  }
  
  @media(max-width: 600px){
    .thumbnail{
      width: 70px;
    }
  }